<footer>
    <div class="wrapper relative">
        <ul id="menu-rodape">
            <li>
                <a href="{% url 'telefones_uteis' %}" title="Telefones úteis">
                    Telefones úteis
                </a>
            </li>
            <li>
                <a href="{% url 'quem_somos' %}" title="Quem somos">
                    Quem somos
                </a>
            </li>
            <li>
                <a href="{% url 'contact' %}" title="Contato">
                    Contato
                </a>
            </li>
        </ul>
        <div class="copyright">
            © Copyright 2012 - 2019, Guia Comercial Brasil - Todos os direitos reservados
            <div id="geosfera">
                desenvolvido por&nbsp;
                <a href="http://www.geosfera.com.br/" title="Geosfera" target="_blank">
                    <span>geos<strong>fera</strong></span>
                </a>
            </div>
        </div>
    </div>
</footer>