{% if nota_anterior %}
    <legend>Nota:</legend>
    <fieldset class="starability-result" data-rating="{{nota_anterior.nota}}">Nota: {{nota_anterior.nota}} Estrelas</fieldset>
{% else %}
    <fieldset class="starability-coinFlip rating" data-rating-url="{% url 'ajax-rate' %}" data-estab="{{slug}}" >
      <legend>Nota:</legend>
      <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="0" checked aria-label="Nenhuma Avaliação." />
      <input type="radio" id="first-rate1" name="rating" value="1" />
      <label for="first-rate1" title="Muito Ruim">1 star</label>
      <input type="radio" id="first-rate2" name="rating" value="2" />
      <label for="first-rate2" title="Ruim">2 stars</label>
      <input type="radio" id="first-rate3" name="rating" value="3" />
      <label for="first-rate3" title="Na Média">3 stars</label>
      <input type="radio" id="first-rate4" name="rating" value="4" />
      <label for="first-rate4" title="Bom">4 stars</label>
      <input type="radio" id="first-rate5" name="rating" value="5" />
      <label for="first-rate5" title="Muito Bom">5 stars</label>
    </fieldset>
{% endif %}